<div #modalV [ngClass]="animamodal" class="Modal">
  <div class="Modal-content">
    <form class="Formulario"
          [formGroup]="form"
          (ngSubmit)="enviar()">
      <h2>FORMULARIO DE DENUNCIA</h2>
      <p>Para registrar tu denuncia de robo de vehículo</p>
      <p>Los campos marcados con * son obligatorios</p>

      <div class="Formulario-item">
        <h4>Nombre Completo<span>*</span></h4>
        <div class="Nombre">
          <input type="text"
                 formControlName="nombre"
                 [class.is-invalid]="nombreNoValido"
                 placeholder="Nombre completo">
          <small *ngIf="nombreNoValido"
                 class="text-danger">
            Ingrese al menos 10 caracteres
          </small>
        </div>
      </div>

      <div class="Formulario-item">
        <h4>RUT<span>*</span></h4>
        <div class="Rut">
          <input type="text"
                 formControlName="rut"
                 [class.is-invalid]="rutNoValido"
                 placeholder="12.345.567-8">
          <small *ngIf="rutNoValido"
                 class="text-danger">
            Ingrese un RUT válido
          </small>
        </div>
      </div>

      <div class="Formulario-item">
        <h4>Número de documento<span>*</span></h4>
        <div class="Docnumber">

          <div class="Docnumber-img">
            <img src="../../../assets/img/numero-documento.png" alt="Número de Documento">
          </div>
          <input type="text"
                 formControlName="docnumber"
                 [class.is-invalid]="docnumberNoValido"
                 placeholder="Ingresa el tuyo">
          <small *ngIf="docnumberNoValido"
                 class="text-danger">
            Ingrese un número de documento
          </small>
        </div>
      </div>

      <div class="Formulario-item">
        <h4>Correo electónico<span>*</span></h4>
        <div class="Mail">
          <input type="email"
                 formControlName="mail"
                 [class.is-invalid]="mailNoValido"
                 placeholder="Escriba su correo">
          <small *ngIf="mailNoValido"
                 class="text-danger">
            Ingrese un correo válido
          </small>
        </div>
      </div>

      <div class="Formulario-item">
        <h4>Teléfono <span>*</span></h4>
        <div class="Phone">
          <input type="number"
                 formControlName="phone"
                 [class.is-invalid]="phoneNoValido"
                 placeholder="912345678">
          <small *ngIf="phoneNoValido"
                 class="text-danger">
            Ingrese un teléfono válido
          </small>
        </div>
      </div>

      <div class="Formulario-item">
        <h4>Teléfono alternativo</h4>
        <div class="Phone">
          <input type="number"
                 formControlName="phone2"
                 [class.is-invalid]="phone2NoValido"
                 placeholder="912345678">
          <small *ngIf="phone2NoValido"
                 class="text-danger">
            Ingrese un teléfono válido
          </small>
        </div>
      </div>

      <div class="Formulario-item nopadding">
        <div class="Vehiculo">
          <h3>Datos sobre el vehículo robado</h3>

          <div class="Vehiculo-tipo">
            <h4>Tipo de vehículo<span>*</span></h4>
            <div class="card-data">
              <input type="texto"
                     formControlName="moviltype"
                     [class.is-invalid]="moviltypeNoValido"
                     placeholder="Moto, auto, camion, etc">
              <small *ngIf="moviltypeNoValido"
                     class="text-danger">
                Ingrese al menos 4 caracteres
              </small>
            </div>
          </div>

          <div class="Vehiculo-marca">
            <h4>Marca<span>*</span></h4>
            <div class="card-data">
              <input type="texto"
                     formControlName="marca"
                     [class.is-invalid]="marcaNoValido"
                     placeholder="Marca">
              <small *ngIf="marcaNoValido" class="text-danger">
                Máximo 12 caracteres
              </small>
            </div>
          </div>

          <div class="Vehiculo-modelo">
            <h4>Modelo<span>*</span></h4>
            <div class="card-data">
              <input type="texto"
                     formControlName="modelo"
                     [class.is-invalid]="modeloNoValido"
                     placeholder="Modelo">
              <small *ngIf="modeloNoValido"
                     class="text-danger">
                Máximo 12 caracteres
              </small>
            </div>
          </div>

          <div class="Vehiculo-color">
            <h4>Color<span>*</span></h4>
            <div class="card-data">
              <input type="texto"
                     formControlName="movilcolor"
                     [class.is-invalid]="movilcolorNoValido"
                     placeholder="Color">
              <small *ngIf="movilcolorNoValido"
                     class="text-danger">
                Máximo 10 caracteres
              </small>
            </div>
          </div>

          <div class="Vehiculo-ano">
            <h4>Año del vehículo<span>*</span></h4>
            <div class="card-data">
              <input type="number"
                     formControlName="movilano"
                     [class.is-invalid]="movilanoNoValido"
                     placeholder="2020">
              <small *ngIf="movilanoNoValido"
                     class="text-danger">
                Ingrese un año válido
              </small>
            </div>
          </div>

          <div class="Vehiculo-patente">
            <h4>Patente<span>*</span></h4>
            <div class="card-data">
              <input type="text"
                     formControlName="patente"
                     [class.is-invalid]="patenteNoValido"
                     placeholder="ABCD12">
              <small *ngIf="patenteNoValido"
                     class="text-danger">
                Ingrese una patente válida
              </small>
            </div>
          </div>

          <div class="Vehiculo-chasis">
            <h4>Número de chasis</h4>
            <div class="card-data">
              <input type="text"
                     formControlName="chasisnumber"
                     [class.is-invalid]="chasisnumberNoValido"
                     placeholder="Ingresa el tuyo">
              <small *ngIf="chasisnumberNoValido"
                     class="text-danger">
                Máximo 17 caracteres
              </small>
            </div>
          </div>

          <div class="Vehiculo-motor">
            <h4>Número de motor</h4>
            <div class="card-data">
              <input type="text"
                     formControlName="motornumber"
                     [class.is-invalid]="motornumberNoValido"
                     placeholder="Ingresa el tuyo">
              <small *ngIf="motornumberNoValido"
                     class="text-danger">
                Máximo 17 caracteres
              </small>
            </div>
          </div>

          <div class="Vehiculo-fecha">
            <h4>Fecha del robo<span>*</span></h4>
            <div class="card-data">
              <input type="date"
                     formControlName="fecharobo"
                     [class.is-invalid]="fecharoboNoValido"
                     placeholder="Fecha del robo"
                     [min]="01-01-1960">
              <small *ngIf="fecharoboNoValido"
                     class="text-danger">
                Ingresa una fecha
              </small>
            </div>
          </div>

          <div class="Vehiculo-direccion">
            <h4>Dirección del robo</h4>
            <div class="card-data">
              <input type="text"
                     formControlName="direccion"
                     [class.is-invalid]="direccionNoValido"
                     placeholder="Comuna y esquina más cercana">
              <small *ngIf="direccionNoValido"
                     class="text-danger">
                Máximo 100 caracteres
              </small>
            </div>
          </div>

          <div class="Vehiculo-moredata">
            <h4>Más datos que pudieras añadir (te quedan {{contador}} caracteres)</h4>
            <div class="card-data">
              <textarea formControlName="moredata"
                        placeholder="Algún detalle que nos ayude a identificar tu vehículo"
                        (keydown)="getDisabledValue($event)"
                        [class.is-invalid]="moredataNoValido"></textarea>
              <small *ngIf="moredataNoValido"
                     class="text-danger">
                Has excedido el número de caracteres
              </small>
            </div>
          </div>

        </div>
      </div>

      <div class="Formulario-item nopadding">
        <div class="Donacion">
          <h3>Si encontramos tu vehículo</h3>
          <p>¿Estarías dispuesto a hacer una donación a nuestra ONG?</p>

          <div class="Donacion-item">
            <input type="radio"
            formControlName="donacion"
                   value="si"
                   (input)="showHideDonacion($event.target.value)"
                   id="si">
            <label for="si">Si</label>
          </div>

          <div class="Donacion-item">
            <input type="radio"
            formControlName="donacion"
                   value="no"
                   (input)="showHideDonacion($event.target.value)"
                   id="no">
            <label for="no">No</label>
          </div>

          <div class="Donacion-item">
            <input type="radio"
            formControlName="donacion"
                   value="talvez"
                   (input)="showHideDonacion($event.target.value)"
                   id="talvez">
            <label for="talvez">Tal vez</label>
          </div>

          <div class="Donacion-monto slide-down"
               *ngIf="expandirDonacion">
            <h4>¿Cuánto podrías donar?</h4>
            <input type="number"
                   placeholder="5000">
          </div>

        </div>
      </div>

      <div class="Formulario-btn">
        <small *ngIf="!form.valid"
               class="text-center">
          El botón estará bloqueado hasta que llene el formulario correctamente
        </small>
        <button type="submit"
                [disabled]="!form.valid">ENVIAR</button>
      </div>

    </form>
  </div>

  <button (click)="closeModal(modalV)" class="btn-close-modal">
    <i class="fas fa-times"></i>
  </button>
</div>
