<header class="Header"
        #Header
        [class]="anima"
        [ngStyle]="{'background': colorHeader}">
  <section class="Header-container">
    <div class="Logo">
      <a href="https://gbvong.cl">
        <img src="../../../assets/img/logo.png" alt="Logo GBV">
      </a>
    </div>
    <button type="button" (click)="showPanel(btnPanel, Panel)" #btnPanel class="Panel-btn hamburger hamburger--elastic">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>
    <section #Panel class="Panel">
      <nav class="Menu">
        <ul>
          <li>
            <a href="https://gbvong.cl">Inicio</a>
          </li>
          <li>
            <a (click)="toGoSection('somos', btnPanel, Panel)">Quiénes Somos?</a>
          </li>
          <li>
            <a (click)="toGoSection('hacemos', btnPanel, Panel)">Qué Hacemos?</a>
          </li>
          <li>
            <a (click)="toGoSection('sumate', btnPanel, Panel)">Súmate</a>
          </li>
        </ul>
      </nav>
    </section>
  </section>
</header>
