.Formulario{
  width: 100%;
  margin: auto;
  max-width: 700px;
  color: color(bg);
  background-color: color(primary);
  & h3{
    text-align: center;
    color: color(bg);
    background-color: color(secondary);
    padding: 1rem;
    letter-spacing: 8px;
    font-size: var(--font-size-titulo-3);
  }
  & p{
    font-family: $fuente-secundaria;
    padding: .5rem;
    font-size: var(--font-size-small-text);
    width: 95%;
    margin: auto;
  }
  & label, select, option{
    width: 100%;
  }
  & input, select, option, textarea{
    width: 100%;
    padding: .5rem;
    font-family: $fuente-secundaria;
    background-color: color(bg-item);
  }
  &-item{
    width: 90%;
    display: grid;
    grid-template-columns: 1fr;
    border: 2px solid color(secondary);
    margin: 1rem auto;
    padding: 1rem;
    & textarea{
      width: 100%;
      height: 200px;
    }
    &-identidad{
      display: grid;
      // border: 2px solid red;
      grid-template-areas: "nombres"
                           "apellidos"
                           "rut"
                           "docnumber";
      grid-template-columns: 1fr;
      grid-gap: .5rem;
      @include mq(mdl){
        grid-template-areas: "nombres apellidos"
                             "rut rut"
                             "docnumber docnumber";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, minmax(min-content, max-content));
        grid-gap: 1rem .5rem;

      }
      & .Nombres{
        grid-area: nombres;
        // border: 2px solid green;
      }
      & .Apellidos{
        grid-area: apellidos;
        // border: 2px solid yellow;
      }
      & .Rut{
        grid-area: rut;
        // border: 2px solid blue;
      }
      & .Docnumber{
        grid-area: docnumber;
        // border: 2px solid purple;
        &-img{
          width: 50%;
          padding: .5rem 0;
          & img{
            width: 100%;
          }
        }
      }
    }
    &-direccion{
      display: grid;
      grid-template-areas: "region"
                           "comunas"
                           "calle";
      grid-template-columns: 1fr;
      grid-gap: .5rem;
      @include mq(mdl){
        grid-template-areas: "region comunas"
                             "calle calle";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr minmax(0%, max-content);
      }
      & .Region{
        grid-area: region;
      }
      & .Comunas{
        grid-area: comunas;
      }
      & .Calle{
        grid-area: calle;
      }
    }
  }
  &-btn{
    width: 95%;
    margin: auto;
    padding-bottom: 5rem;
    & button[type="submit"]{
      @include boton(color(success));
      color: color(bg);
      width: 100%;
      font-size: 1.3rem;
      &:disabled{
        cursor: not-allowed;
        background-color: lighten(color(secondary), 8);
      }
    }
  }
}

.Motivos{
  // border: 2px solid red;
  padding: 1rem 0;
  &-item{
    font-family: $fuente-secundaria;
    & input[type="radio"]{
      display: none;
      &:checked + label:before{
        background-color: color(success);
      }
    }
    & label{
      display: inline-block;
      position: relative;
      color: white;
      padding: 5px 15px 5px 51px;
      // border: 1px solid blue;
      cursor: pointer;
      &:before{
        content: '';
        width: 17px;
        height: 17px;
        display: inline-block;
        background: none;
        border: 3px solid color(success);
        border-radius: 50%;
        position: absolute;
        left: 17px;
        top: 5px;
      }
      &:hover{
        background-color: color(fondo);
      }
    }
  }
}

.form-motivos{
  padding: 0;
  margin-top: 1.5rem;
}
