<div class="Contenedor-formulario reset-password">
  <div class="Content-formulario">
    <form class="Formulario"
          [formGroup]="resetPasswordForm"
          (ngSubmit)="onReset()">
      <h2>REESTABLECER CONTRASEÑA</h2>
      <div class="Formulario-item">
        <input type="email"
               placeholder="Email"
               formControlName="email">
        <small *ngIf="emailNoValido" class="text-danger">
          Escriba un correo válido
        </small>
      </div>
      <div class="Formulario-btn btn-login">
        <small *ngIf="!resetPasswordForm.valid">
          Botón bloqueado hasta completar formulario
        </small>
        <button type="submit" [disabled]="!resetPasswordForm.valid">
          Reestablecer contraseña
        </button>
      </div>
    </form>
  </div>
</div>
