<div class="Contenedor-formulario login">
  <div class="Content-formulario">
    <form class="Formulario" [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <h2>INICIAR SESIÓN</h2>
      <div class="Formulario-item">
        <input type="email" placeholder="Email" formControlName="email">
        <small *ngIf="emailNoValido" class="text-danger">
          Escriba un correo válido
        </small>
      </div>
      <div class="Formulario-item">
        <input type="password" formControlName="password">
        <small *ngIf="passwordNoValido" class="text-danger">
          Escriba una contraseña válida
        </small>
      </div>
      <div class="Formulario-item">
        <div>
          <input type="checkbox" id="ckb2">
          <label for="ckb2">
            Recordar mi usuario
          </label>
        </div>
        <div>
          <a routerLink="/admin/registro">
            ¿Aún no tienes cuenta? / Crea una
          </a>
        </div>
      </div>
      <div class="Formulario-btn btn-login">
        <small *ngIf="!loginForm.valid">
          El botón estará bloqueado hasta que llene el formulario correctamente
        </small>
        <button type="submit" [disabled]="!loginForm.valid">
          Login
        </button>
      </div>
    </form>
  </div>
</div>

