// Mixins

@mixin container-grid($columns, $rows, $gap){
  display: grid;
  grid-gap: $gap;
  grid-template-columns: $columns;
  grid-template-rows: $rows;
}

.Container-grid{
  width: 100%;
  margin: 10rem auto 0;
  max-width: var(--main-maximo);
  display: grid;
  grid-template-areas: "titulo"
                       "subtitulo"
                       "slogan"
                       "btn-cta";
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, minmax(min-content, max-content));
  justify-items: center;
  align-items: center;
  // border: 1px solid red;
  & .Titulo, .Sub-titulo, .Slogan, .Btn-cta{
    position: relative;
    z-index: capa(capa1);
    // border: 1px solid blue;
  }
  & .Titulo{
    grid-area: titulo;
    color: color(secondary);
  }
  & .Sub-titulo{
    grid-area: subtitulo;
  }
  & .Slogan{
    grid-area: slogan;
    color: color(tacha);
  }
  & .Btn-cta{
    grid-area: btn-cta;
    margin: 1rem auto;
    margin-bottom: 2rem;
  }
}

.Container-grid-4{
  @include container-grid(var(--columns-container-grid4), auto, var(--gap-container-grid));
}

.Container-grid-3{
  @include container-grid(var(--columns-container-grid3), auto, var(--gap-container-grid));
}
.Container-grid-2{
  @include container-grid(var(--columns-container-grid2), auto, var(--gap-container-grid));
}

