<main class="Main">
  <gb-modalhistoria (cerrarhistoria)="ocultarHistoria($event)" *ngIf="verhistoria"></gb-modalhistoria>
  <gb-modalform (closeform)="ocultarFormulario($event)" *ngIf="verformulario"></gb-modalform>
  <div class="Banner">
    <div class="Container-grid">
      <h1 class="Titulo">Grupo GBV</h1>
      <h2 class="Sub-titulo">Búsqueda de vehículos robados</h2>
      <p class="Slogan">Somos la justicia en las calles y la esperanza de las personas.</p><a class="Btn-cta" href="https://chat.whatsapp.com/invite/BpcpmjJnsoQG3mXEvLf0Xc" target="_blank">Contáctanos</a>
    </div>
  </div>
  <section class="Somos" id="somos">
    <div class="Box-text">
      <h2 class="Titulo-2">Quiénes Somos?</h2>
    </div>
    <div class="Box-text">
      <div class="Card-text">
        <p class="Parrafo">El grupo GBV es una organización no gubernamental de desarrollo sin fines de lucro, ayuda a las víctimas a recuperar sus vehículos robados en terreno.</p>
        <p class="Parrafo">Operamos desde el año 2013 aunque, oficialmente, el grupo es fundado en el año 2014.</p>
      </div>
    </div>
    <div class="Box-btn">
      <button class="Btn-modal" (click)="mostrarHistoria()">Historia</button>
    </div>
  </section>
  <section class="Hacemos" id="hacemos">
    <div class="Box-text">
      <h2 class="Titulo-2">Qué hacemos?</h2>
    </div>
    <div class="Box-text">
      <div class="Card-text">
        <h3 class="Titulo-3">Buscamos vehículos robados</h3>
        <p class="Parrafo">Compartimos la información que ustedes nos entregan de los vehículos que han sido robados y, aprovechando la red de voluntarios que circulan en sus propios vehículos por la ciudad, detenemos y damos aviso a las autoridades cuando encuentramos un auto robado.</p>
      </div>
      <div class="Card-text">
        <h3 class="Titulo-3">Tiene costo?</h3>
        <p class="Parrafo">No, es un trabajo voluntario realizado por personas que alguna vez fueron víctimas de robo o que, sencillamente, buscan cooperar en la búsqueda de los autos que han sido robados porque están cansados de que nos gane la delincuencia.</p>
      </div>
      <div class="Card-text">
        <h3 class="Titulo-3">Cómo opera?</h3>
        <p class="Parrafo">Contamos con más de 400 integrantes que ayudan a la organización de manera voluntaria. Principalmente se dedican a recorrer las calles con la información de los autos que han sido robados y, al encontrarlos, se da aviso a las autoridades policiales para que recuperen tu auto.</p>
      </div>
      <div class="Card-text">
        <h3 class="Titulo-3">Es legal lo que hacemos?</h3>
        <p class="Parrafo">Si, es completamente legal, somos una ONG que auxilia a las víctimas voluntariamente operando dentro del marco de la ley con las facultades de todo ciudadano para retener a un delincuente frente a un delito flagrante para llamar a las autoridades cuando el riesgo es mayor.</p>
      </div>
    </div>
  </section>
  <section class="Sumate" id="sumate">
    <div class="Box-text">
      <h2 class="Titulo-2">Súmate</h2>
    </div>
    <div class="Box-text">
      <div class="Card-text">
        <p class="Parrafo">Si quieres ser parte de la red de ayuda del Grupo Búsqueda de Vehículos, como víctima, como colaborador o solamente participar como integrante de alguna institución, llena nuestro formulario que se encuentra más abajo. Lo anterior es para mantener un registro de la cantidad de personas a nivel nacional que se encuentran participando, además nos permitirá mantener un sistema de filtros debido a la información sensible que se maneja como ONG de ayuda a las víctima del delito de robo de vehículo.</p>
        <p class="Parrafo">Esperamos tu comprensión y te recordamos que es importante llenar los campos solicitados dentro del formulario, si eres víctima y tienes un auto para reportarnos, en el mismo formulario te damos la opción de incorporarlo.</p>
        <p class="Parrafo">Una vez recepcionada la información se realizará una revisión de los antecedentes y se te informará sobre tu ingreso, en el caso de existir problemas también se te avisara el motivo por el cual no puedes ingresar.</p>
      </div>
    </div>
    <div class="Box-text">
      <div class="Card-text">
        <h3 class="Titulo-3">Únete</h3>
        <p class="Parrafo">Accede a nuestro formulario de inscripción haciendo click sobre el boton.</p>
        <button class="Btn-modal" (click)="mostrarFormulario()">Formulario</button>
      </div>
      <div class="Card-text">
        <h3 class="Titulo-3">Síguenos</h3>
        <p class="Parrafo">Puedes seguirnos en Facebook o unirte a nuestro grupo de Whatsapp</p><a class="Icon-link fab fa-facebook-square" href="https://www.facebook.com/GrupoGBV/?referrer=whatsapp" target="_blank"></a><a class="Icon-link fab fa-whatsapp" href="https://chat.whatsapp.com/invite/BpcpmjJnsoQG3mXEvLf0Xc" target="_blank"></a>
      </div>
      <div class="Card-text">
        <h3 class="Titulo-3">Apóyanos</h3>
        <p class="Parrafo">Recibimos donaciones en nuestra cuenta del Banco Estado</p>
        <p class="Parrafo">Número: 23571897385</p>
        <p class="Parrafo">O a través de PayPal</p>
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="KL25PV4QN2REY">
          <input type="image" src="../../../assets/img/boton-paypal.png" border="none" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button"><img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>
      </div>
    </div>
  </section>
</main>
