<div #modalM [ngClass]="animamodal" class="Modal">
  <div class="Modal-content">
    <form class="Formulario"
          [formGroup]="form"
          (ngSubmit)="enviar()">
      <h2>FORMULARIO DE INSCRIPCION</h2>
      <p>Para solicitar tu inscripción como miembro de nuestra ONG</p>
      <p>Los campos marcados con * son obligatorios</p>

      <div class="Formulario-item">
        <h4>Te inscribes cómo?<span>*</span></h4>
        <div class="Tipo">

          <div class="Tipo-item">
            <input type="radio"
                   id="civil"
                   formControlName="tipo"
                   (input)="selectTipo($event.target.value)"
                   value="civil">
            <label for="civil">Civil</label>
          </div>

          <div class="Tipo-item">
            <input type="radio"
                   id="ffaa"
                   formControlName="tipo"
                   (input)="selectTipo($event.target.value)"
                   value="ffaa">
            <label for="ffaa">Miembro de las FFAA</label>
          </div>

          <div class="Tipo-item">
            <input type="radio"
                   formControlName="tipo"
                   (input)="selectTipo($event.target.value)"
                   value="n">
            <label (click)="selectTipo('n')"
                   [class]="seleccionado"
                   for="n">Otra institución</label>
          </div>

          <div class="Tipo-item">
            <input type="text"
                   *ngIf="mostrarTipo"
                   class="slide-down input-text"
                   formControlName="tipo"
                   placeholder="Especifique cual">
          </div>

          <small *ngIf="tipoNoValido"
                 class="text-danger">
            Especifique cual
          </small>

        </div>
      </div>

      <div class="Formulario-item">
        <h4>Nombre Completo<span>*</span></h4>
        <div class="Nombre">
          <input type="text"
                 formControlName="nombre"
                 [class.is-invalid]="nombreNoValido"
                 placeholder="Nombre completo">
          <small *ngIf="nombreNoValido"
                 class="text-danger">
            Ingrese al menos 10 caracteres
          </small>
        </div>
      </div>

      <div class="Formulario-item">
        <h4>RUT<span>*</span></h4>
        <div class="Rut">
          <input type="text"
                 formControlName="rut"
                 placeholder="Rut"
                 [class.is-invalid]="rutNoValido">
          <small *ngIf="rutNoValido"
                 class="text-danger">
            Ingrese un RUT válido
          </small>
        </div>
      </div>

      <div class="Formulario-item">
        <h4>Número de documento<span>*</span></h4>
        <div class="Docnumber">

          <div class="Docnumber-img">
            <img src="../../../assets/img/numero-documento.png" alt="Número de Documento">
          </div>
          <input type="text"
                 formControlName="docnumber"
                 placeholder="Ingresa el tuyo"
                 [class.is-invalid]="docnumberNoValido">
          <small *ngIf="docnumberNoValido"
                 class="text-danger">
            Ingrese su número de documento
          </small>
        </div>
      </div>

      <div class="Formulario-item">
        <h4>Teléfono<span>*</span></h4>
        <div class="Phone">
          <input type="number"
                 formControlName="phone"
                 placeholder="12345678"
                 [class.is-invalid]="phoneNoValido">
          <small *ngIf="phoneNoValido"
                 class="text-danger">
            Ingrese un teléfono válido
          </small>
        </div>
      </div>

      <div class="Formulario-item">
        <h4>Correo electónico<span>*</span></h4>
        <div class="Mail">

          <input type="email"
                 formControlName="mail"
                 placeholder="Escriba su correo"
                 [class.is-invalid]="mailNoValido">
          <small *ngIf="mailNoValido"
                 class="text-danger">
            Ingrese un correo válido
          </small>
        </div>
      </div>

      <div class="Formulario-item">
        <h4>Dirección (Región, comuna, calle)<span>*</span></h4>
        <div class="Direccion">

          <div class="Region">
            <select formControlName="region"
                    [class.is-invalid]="regionNoValida"
                    [disabled]="direccion.length === 0"
                    (change)="changeRegion($event.target.value)">
              <option *ngFor="let i of direccion">
                {{i.region}}
              </option>
            </select>
            <small *ngIf="regionNoValida" class="text-danger">
              Seleccione una Region
            </small>
          </div>

          <div class="Comuna slide-down"
               *ngIf="mostrarComuna">
            <select formControlName="comuna"
                    [class.is-invalid]="comunaNoValida">
              <option *ngFor="let comuna of comunas">
                {{comuna}}
              </option>
            </select>
            <small *ngIf="comunaNoValida" class="text-danger">
              Seleccione una Comuna
            </small>
          </div>

          <div class="Calle">
            <input type="text"
                   formControlName="calle"
                   placeholder="Calle #"
                   [class.is-invalid]="calleNoValida">
            <small *ngIf="calleNoValida" class="text-danger">
              Escriba una dirección
            </small>
          </div>

        </div>
      </div>

      <div class="Formulario-btn">
        <small *ngIf="!form.valid">
          Botón bloqueado hasta completar formulario
        </small>
        <button type="submit"
                [disabled]="!form.valid">
          Enviar
        </button>
      </div>

    </form>
  </div>
  <button (click)="closeModal(modalM)" class="btn-close-modal">
    <i class="fas fa-times"></i>
  </button>
</div>
