
.is-invalid{
  border: 2px solid #C0362C;
  color: #C0362C;
}

.elemento-oculto{
  display: none;
}

.elemento-visible{
  display: block;
}

.text-center{
  display: block;
  width: 80%;
  margin: auto;
  text-align: center;
  padding-bottom: .5rem;
}

.Uppercase{
  text-transform: uppercase;
}

.Lowercase{
  text-transform: lowercase;
}
