<div #modalF [ngClass]="animamodal" class="ModalH">
  <div class="Modal-content">
    <form class="Formulario"
          [formGroup]="forma"
          (ngSubmit)="guardar()">

        <h3>FORMULARIO DE INGRESO</h3>
        <p>Formulario de ingreso para socios, víctimas y/o colaboradores de nuestra ONG.</p>

        <div class="Formulario-item">
          <div class="Formulario-item-identidad">
            <label for="">Nombres</label>
            <div>
              <input type="text"
                    placeholder="Nombres"
                    formControlName="nombres"
                    [class.is-invalid]="nombresNoValido">
              <small *ngIf="nombresNoValido" class="text-danger">
                Ingrese al menos 5 caracteres
              </small>
            </div>
          </div>

          <div class="Formulario-item-identidad">
            <label for="">Apellidos</label>
            <div>
              <input type="text"
                    placeholder="Apellidos"
                    formControlName="apellidos"
                    [class.is-invalid]="apellidosNoValido">
              <small *ngIf="apellidosNoValido" class="text-danger">
                Ingrese al menos 5 caracteres
              </small>
            </div>
          </div>

          <div class="Formulario-item-identidad">
            <label for="">RUT</label>
            <div>
              <input type="text"
                    placeholder="12.345.678-9"
                    formControlName="rut"
                    [class.is-invalid]="rutNoValido">
              <small *ngIf="rutNoValido" class="text-danger">
                Ingrese un RUT válido
              </small>
            </div>
          </div>

          <div class="Formulario-item-identidad">
            <label for="">Numero de documento (para evitar ingreso de datos falsos)</label>
            <div>
              <input type="number"
                     placeholder="100.000.001"
                     formControlName="docnumber"
                     [class.is-invalid]="docnumberNoValido">
              <small *ngIf="docnumberNoValido" class="text-danger">
                Ingrese un número de documento
              </small>
            </div>
          </div>
        </div>

        <div class="Formulario-item" formGroupName="direccion">
          <label for="">Dirección (Región, comuna, calle)</label>
          <div>

            <div class="Formulario-item-identidad">
              <select formControlName="region"
                      [class.is-invalid]="regionNoValida"
                      [disabled]="ubicacion.length === 0"
                      (change)="changeRegion($event.target.value)">
                <option *ngFor="let objeto of ubicacion">
                         {{objeto.region}}
                </option>
              </select>
              <small *ngIf="regionNoValida" class="text-danger">
                Seleccione una Region
              </small>
            </div>

            <div class="Formulario-item-identidad slide-down"
                 *ngIf="mostrarComuna">
              <select formControlName="comunas"
                      [class.is-invalid]="comunasNoValida">
                <option *ngFor="let comuna of comunas">
                  {{comuna}}
                </option>
              </select>
              <small *ngIf="comunasNoValida" class="text-danger">
                Seleccione una Comuna
              </small>
            </div>

            <div class="Formulario-item-identidad">
              <input type="text"
                     placeholder="Calle #"
                     formControlName="calle"
                     [class.is-invalid]="calleNoValida">
                <small *ngIf="calleNoValida" class="text-danger">
                  Escriba una dirección
                </small>
            </div>

          </div>
        </div>

        <div class="Formulario-item">
          <label for="">Número de Teléfono</label>
          <div>
            <input type="number"
                   placeholder="+56 9 1234 5678"
                   formControlName="telefono"
                   [class.is-invalid]="telefonoNoValido">
            <small *ngIf="telefonoNoValido" class="text-danger">
              Ingrese un número de teléfono
            </small>
          </div>
        </div>

        <div class="Formulario-item">
          <label for="">Correo electrónico</label>
          <div>
            <input type="email"
                   placeholder="ejemplo@tuweb.com"
                   formControlName="correo"
                   [class.is-invalid]="correoNoValido">
            <small *ngIf="correoNoValido" class="text-danger">
              Ingrese un correo válido
            </small>
          </div>
        </div>

        <div class="Formulario-item">
          <label for="">Motivo de su ingreso(Me robaron un vehículo, Soy miembro de una institución o rma de las FFAA, Me interesa colaborar como civil)</label>
          <div>
            <input type="radio"
                   formControlName="motivo"
                   value="Me robaron un vehículo"
                   (click)="scrollToElement(formVictimas)">Me robaron un vehículo
            <input type="radio"
                   formControlName="motivo"
                   value="Soy miembro de una institución o rama de las FFAA">Soy miembro de una institución o rama de las FFAA
            <input type="radio"
                   formControlName="motivo"
                   value="Me interesa colaborar como civil">Me interesa colaborar como civil
            <small *ngIf="correoNoValido" class="text-danger">
              Seleccione un motivo de ingreso
            </small>
          </div>
        </div>

        <div #formVictimas [ngClass]="expandirForm">

          <h3>SÓLO PARA VÍCTIMAS</h3>
          <p>Sección de preguntas destinadas a ayudarnos a encontrar tu vehículo y obtener más datos sobre el operar de los delincuentes.</p>

          <div class="Formulario-item">
            <label for="">Patente del vehículo</label>
            <div>
              <input type="text"
                     placeholder="ABCD12"
                     formControlName="patente"
                     [class.is-invalid]="patenteNoValida">
              <small *ngIf="patenteNoValida" class="text-danger">
                Ingrese una patente válida
              </small>
            </div>
          </div>

          <div class="Formulario-item">
            <label for="">Más datos que pudieras añadir (marca, color, lugar y circunstancias del robo)</label>
            <div>
              <textarea formControlName="moredata"></textarea>
            </div>
          </div>

          <div class="Formulario-item">
            <label>Si encontramos tu vehículo, ¿estarías dispuesto a hacer una donación a nuestra ONG?</label>
            <div>
              <input type="radio"
                     formControlName="donacion"
                     value="Si"
                     (input)="showHideDonacion($event.target.value)">Si
              <input type="radio"
                     formControlName="donacion"
                     value="No"
                     (input)="showHideDonacion($event.target.value)">No
              <input type="radio"
                     formControlName="donacion"
                     value="Tal vez"
                     (input)="showHideDonacion($event.target.value)">Tal vez
            </div>
          </div>

          <div class="Formulario-item slide-down"
               *ngIf="expandirDonacion">
            <label>¿Cuánto podrías donar?</label>
            <div>
              <input type="text"
                     placeholder="Tu respuesta"
                     formControlName="montodonacion">
            </div>
          </div>

        </div>

        <div>
          <button type="submit">Enviar</button>
        </div>

    </form>
  </div>
  <button (click)="closeModal(modalF)" id="closeModal">
    <i class="fas fa-times"></i>
  </button>
</div>

